{
  email {$CADDY_EMAIL}
}

{$CADDY_SITE_ADDRESS:localhost} {
  encode zstd gzip
  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy same-origin
    -Server
  }
  reverse_proxy web:8000
}
